<div class="card" style="width: 18rem;">
  <img src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top image">
  <div class="card-body">
    <h5 class="card-title img-titel">Card title</h5>
    <p class="card-text img-des">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>