<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Apple iPhone X</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Card title</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Card title</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Card title</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Card title</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg"
        class="card-img-top image"
      />
      <div class="card-body">
        <h5 class="card-title img-titel">Card title</h5>
        <p class="card-text img-des">
          Storage Capacity : 16 GB <br>
          Number Of SIM : Daul Sim <br>
          Rear Camera Resolution : 16 MP <br>
          Display Size (Inch) : 6.5 Inch
        </p>
        <div class="pri-link">
          <p style="font-weight: bold;">250$</p>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>