<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
