.image {
  width: 100%;
  height: 370px;
  padding: 30px;
}
.img-titel {
  font-size: 20px;
}
.img-des {
  font-size: 15px;
}
.pri-link {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
